:root {
  --color-AliceBlue: #f4f8ff;
  --color-Black: #1f2224;
  --color-MidnightBlue: #072546;

  --color-Snow: #f9f9f9;
  --color-MediumSpringGreen: #00ffc6;
  --color-borderSnow: rgba(174, 172, 172, 0.5);

  --font-FixelText: "Fixel Text", Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
  --font-FixelDisplay: "Fixel Display", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;

  --font-size: 1rem;
  --padding-left-right: clamp(0.75rem, -0.02391rem + 3.175vw, 1.5rem);
  --width-site: 90rem;
}


ul {
  list-style: none;
}

h1, p {
  margin: 0;
}










/* MAIN */














.list-items_spin {
  position: relative;
}

.list-item_rotate {
  position: absolute;
  right: -27%;
  bottom: 0px;
  transform: translate(27%, 0) rotate(-24deg);
}














